/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* VARIABLES */
:root {
    --orange: #ff6900;
    --green: #008000;
}

/* GENERAL */
body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
    max-width: 1100px;
}

.flex {
    display: flex;
}

/* HEADER */
header > div{
    height: 65px;
    background-color: var(--orange);
    color: white;
}

/* Categories */
.categories {
    width: 20%;
}

.categories li{
    list-style-type: none;
    padding: 20px 5px;
}

.categories a {
    text-decoration: none;
    color: inherit;
    font-weight: 600;
}

/* User area */
.user-area {
    width: 20%;
    padding: 20px 0;
}

.user-area li {
    list-style-type: none;
}

.user-area a {
    text-decoration: none;
    color: inherit;
    margin: 0 5px;  
}

.user-area ul {
    justify-content: flex-end;
}

/* Logo */
.logo {
    flex-grow: 1;
    text-align: center;
    padding-top: 20px;
}

.logo img {
    width: 20%;
}

/* MAIN */
.main-flex {
    display: flex;
    flex-wrap: wrap;
}

.container {
    width: 80%;
    margin: 0 auto;
    max-width: 1100px;
}

.main-container {
    padding: 40px 0;
}

/* Columns */
.col {
    margin-bottom: 1rem;
    width: calc(100% / 3 - 40px / 3);
}

.col-middle {
    margin: 0 20px 1rem;
}

/* Card utilities */
.discount {
    color: red;
}

.old-price {
    text-decoration: line-through;
}

/* CARD */
.card-image {
    position: relative;
}

.discount-percentage {
    display: inline-block;
    background-color: red;
    color: white;
    padding: 5px 10px;
    font-size: .8rem;
    font-weight: 600;
    position: absolute;
    bottom: 30px;
    left: 0;
}

.sustainability {
    display: inline-block;
    background-color: var(--green);
    color: white;
    padding: 5px 10px;
    font-size: .8rem;
    font-weight: 600;
    position: absolute;
    bottom: 30px;
    left: 53px;
}

.sustainability.only {
    bottom: 30px;
    left: 0;
}

.favourite {
    display: inline-block;
    background-color: white;
    position: absolute;
    padding: 0 10px;
    font-size: 2rem;
    right: 0;
    top: 10px;
}